{
  "name": "assets",
  "type": "module",
  "private": true,
  "scripts": {
    "typecheck": "tsc --noEmit -p tsconfig.json",
    "typecheck:hooks": "tsc --noEmit -p tsconfig.hooks.json"
  },
  "devDependencies": {
    "@types/bun": "latest",
    "@types/phoenix": "^1.6",
    "typescript": "^5"
  }<%= if @tailwind do %>,
  "dependencies": {
    "tailwindcss": "^4",
    "bun-plugin-tailwind": "latest"
  }<% end %>
}
